<div>
    {{#each posts as |post|}}
    {{log post}}
    <section class="post-group post-card">
        <a href="api/posts/{{id}}">
            <header>{{post.title}} --by {{post.user.username}} created at {{format_date post.date_created}}</header>
            <p>{{post.description}}</p>
        </a>
    </section>
    {{/each}}
</div>