<div>
    {{#each posts as |post|}}
    {{log post}}
    <section class="post-card">
        <a href="api/posts/{{id}}">
            <header>{{post.title}} --by {{post.user.username}}</header>
            <p>{{post.description}}</p>
        </a>
        {{!-- <div>{{body}}</div> --}}
    </section>
    {{/each}}
</div>